body {
    margin: 0px !important;

}

#page1-container {
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 70px;
}

#page1-upper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#page1-upper-left {
    width: 800px;
    height: 420px;
}

.page1-upper-left-text {
    font-size: 140px;
    font-family: "AbhayaLibre";

    display: inline-block;
    height: 140px;
}

.page1-upper-left-text:hover {
    box-sizing: border-box;
    border-bottom: solid 70px yellow;
}

#page1-upper-right {
    height: 230px;
    width: 230px;
    display: inline-block;
    border-left: 3px solid black;
    padding-left: 20px;
    margin-top: 20px;
}

#page1-upper-right-text1 {
    font-family: "AbhayaLibre";
    font-size: 24px;
    margin-bottom: 20px;
}

#page1-upper-right-text2 {
    font-family: "Inter";
    color: #C4C4C4;
    margin-bottom: 20px;
    font-size: 20px;
}

#page1-upper-right-text3 {
    font-family: "Inter";
    text-decoration: underline;
    font-size: 20px;
}

#page1-upper-right-text3:hover {
    cursor: pointer;
}



#page1-lower {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 35px;
}

#page1-lower-card1 {
    display: inline-block;
    /* margin-left: 15%; */
    margin-top: 35px;
    border: transparent solid 1px;
    overflow: hidden;
}

#page1-lower-card2 {
    display: inline-block;
    width: 400px;
    margin-top: 35px;
    border: transparent solid 1px;
    overflow: hidden;
}

.page1-lower-card-img {
    object-fit: cover;
    height: 300px;
    transition: all 0.4s;
}

.page1-lower-card-img:hover {
    transform: scale(1.1);
}

.page1-lower-card-type {
    color: #ACADB6;
    font-family: "Inter";
    display: inline-block;
    margin-top: 20px;
}



.page1-lower-card-publisher {
    display: inline-block;
    font-family: "Inter";
}

.card-publisher {
    display: inline-block;
    font-family: "Inter";
}

.card-text {
    font-family: "AbhayaLibre";
    font-weight: bold;
    font-size: 32px;
}

.card-text:hover {
    cursor: pointer;
}

.card-type {
    color: #ACADB6;
    font-family: "Inter";
    display: inline-block;
    margin-top: 20px;
}

.page1-lower-card-activityName {
    font-family: "AbhayaLibre";
    font-weight: bold;
    font-size: 32px;
    box-sizing: border-box;
    border-bottom: solid 16px yellow;
    height: 32px;
    display: inline-block;
}



#page2-container {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f0f4f6;
}

#page2-textBox {
    width: 30%;
    min-width: 24px;
}

#page2-textBox-text1 {
    font-family: "AbhayaLibre";
    font-size: 32px;
    margin: 30px 0px 30px 0px;
    font-weight: bold;
}

#page2-textBox-text2 {
    font-family: "SentinelSSmPro";
    font-size: 28px;
    margin: 30px 0px 30px 0px;
}

#page2-textBox-btn1 {
    font-family: "Inter";
    font-size: 20px;
    margin: 30px 0px 30px 0px;
    background-color: #FCF113;
    color: black;
    width: 220px;
    height: 70px;
    border: 0;
    transition: all 0.2s;
}

#page2-textBox-btn1:hover {
    background-color: #262c30;
    color: white;
    cursor: pointer;
}



#page2-picBox {
    width: 60%;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
}

.page2-image {
    border-radius: 100%;
    width: 200px;
    height: 200px;
}


#page3-container {
    background-image: url("../images/image\ 3.1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;

}

#page3-card {
    width: 30%;
    min-width: 200px;
    height: 50%;
    background-color: white;
    margin: auto 10% auto 10%;
    padding: 180px 70px 70px 50px;
}

#page3-title {
    font-size: 50px;
    font-family: "AbhayaLibre";
    font-weight: bold;
    margin-bottom: 30px;
}

#page3-line {
    height: 5px;
    width: 70px;
    background-color: black;
    margin-bottom: 30px;
    margin-top: 30px;
}

#page3-text {
    font-size: 32px;
    font-family: "AbhayaLibre";
    margin-bottom: 30px;
}

#page3-btn {
    font-family: "Inter";
    font-size: 20px;
    margin: 30px 0px 30px 0px;
    background-color: #FCF113;
    color: black;
    width: 220px;
    height: 70px;
    border: 0;
    transition: all 0.2s;
}

#page3-btn:hover {
    background-color: #262c30;
    color: white;
    cursor: pointer;
}

#page4-container {
    padding-left: 15%;
    padding-right: 15%;
    height: 100vh;
    padding-top: 5%;
    padding-bottom: 5%;
}

#page4-upper,
#page4-lower {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.page4-lines {
    width: 70px;
    height: 2px;
    background-color: black;
}

#page4-card1-title,
#page4-card2-title {
    font-family: "Inter";
    font-size: 20px;
    font-weight: bold;
    width: 100%;
}

.yellow-btn {
    font-family: "Inter";
    font-size: 20px;
    margin: 30px 0px 30px 0px;
    background-color: #FCF113;
    color: black;
    width: 220px;
    height: 70px;
    border: 0;
    transition: all 0.2s;
}

.yellow-btn:hover {
    background-color: #262c30;
    color: white;
    cursor: pointer;
}

#page4-card1,
#page4-card2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page4-card-texts {
    width: 60%;
    height: 50%;
    margin-top: 20px;
    font-family: "AbhayaLibre";
    font-size: 20px;
}

.page4-card1-title-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#page4-card3,
#page4-card4 {
    margin-top: 10%;
    border: transparent solid 1px;
    overflow: hidden;
}

#page4-card3-img,
#page4-card4-img {
    height: 250px;
    object-fit: contain;
    border-bottom: 10px solid #FCF113;
    transition: all 0.4s;
}

#page4-card3-img:hover {
    transform: scale(1.1);
}

#page4-card4-img:hover {
    transform: scale(1.1);
}



#page5-container {
    background-image: url("../images/image\ 5.1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;

}

#page5-card {
    width: 30%;
    height: 50%;
    background-color: white;
    margin: auto 10% auto 10%;
    padding: 180px 70px 70px 50px;
}

#page5-title {
    font-size: 50px;
    font-family: "AbhayaLibre";
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 20px;
}

#page5-line {
    height: 5px;
    width: 70px;
    background-color: black;
    margin-bottom: 30px;
    margin-top: 30px;
}

#page5-text {
    font-size: 32px;
    font-family: "AbhayaLibre";
    margin-bottom: 30px;
}


#page6-container {
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 70px;
}

#page6-upper,
#page6-lower {
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#page6-card1,
#page6-card2,
#page6-card3,
#page6-card4,
#page6-card5 {
    border-bottom: 2px solid black;
    margin: 30px;
    padding-bottom: 50px;
    border: transparent solid 1px;
    overflow: hidden;
}

#page6-card1 {
    width: 70%;
}

#page6-card2 {
    width: 30%;
}

#page6-card3,
#page6-card4,
#page6-card5 {
    width: 30%;
}



.page6-images {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-bottom: 10px solid #FCF113;
    transition: all 0.4s;
}

.page6-images:hover {
    transform: scale(1.1);
}



#page7-container {
    background-image: url("../images/image\ 7.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;

}

#page7-card {
    width: 30%;
    height: 50%;
    background-color: white;
    margin: auto 10% auto 10%;
    padding: 180px 70px 70px 50px;
}

#page7-title {
    font-size: 50px;
    font-family: "AbhayaLibre";
    font-weight: bold;
    margin-bottom: 30px;
}

#page7-line {
    height: 5px;
    width: 70px;
    background-color: black;
    margin-bottom: 30px;
    margin-top: 30px;
}

#page7-text {
    font-size: 32px;
    font-family: "AbhayaLibre";
    margin-bottom: 30px;
}

#page7-btn {
    font-family: "Inter";
    font-size: 20px;
    margin: 30px 0px 30px 0px;
    background-color: white;
    color: black;
    width: 220px;
    height: 70px;
    border: 0;
    border: 1px solid #ACADB6;
    transition: all 0.2s;
}

#page7-btn:hover {
    background-color: #262c30;
    color: white;
    cursor: pointer;
}

#page8-container {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 70px;
    padding-bottom: 70px;
}

#page8-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

#page8-bar-y {
    flex-direction: row-reverse;
    width: 95%;
    height: 60px;
    background-color: #FCF113;
    text-align: center;
    line-height: 60px;
    font-family: "Inter";
    text-align: center;
    flex: 97;
}

#page8-bar-y:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

#page8-bar-y:hover+#page8-bar-b {
    cursor: pointer;
    background-color: #FCF113;
    color: black;
}

#page8-bar-b {
    display: inline-block;
    width: 5%;
    height: 60px;
    color: white;
    background-color: black;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-size: 30px;
    flex: 3;
}

#page8-bar-b:hover {
    cursor: pointer;
    background-color: #FCF113;
    color: black;
}

#page8-bar-b:hover+#page8-bar-y {
    cursor: pointer;
    background-color: black;
    color: white;
}

#page8-cards-part {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.page8-cards {
    width: 30%;
    height: 300px;
    border-top: 2px solid #ACADB6;
    margin-bottom: 30px;
}

.page8-cards-time {
    font-family: "Inter";
    display: inline-block;
    margin-top: 20px;
    color: #ACADB6;
}

.page8-cards-title {
    margin-top: 60px;
}

.page8-cards-text {
    height: 150px;
}

.cur-pointer {
    cursor: pointer;
}