body {
    margin: 0;
}

/* writer */
#writer-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 13fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}


#new-btn-container {
    margin-top: 10px;
    /* background-color: aqua; */
    border-top: 2px solid #ACADB6;
    border-bottom: 2px solid #ACADB6;
    border-right: 1px solid #ACADB6;
}

#title {
    margin-top: 10px;
    /* background-color: brown; */
    border-top: 2px solid #ACADB6;
    border-bottom: 2px solid #ACADB6;
    border-left: 1px solid #ACADB6;
}

#table-container {
    /* background-color: blue; */
    border-right: 1px solid #ACADB6;
}

#write-area {
    /* background-color: yellow; */
    border-left: 1px solid #ACADB6;
}

#new-btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center
}

#title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#writer-post-btn,
#writer-new-btn,
#writer-open-btn,
#writer-index-btn,
#join-container-btn,
#Error-page-btn {
    width: 130px;
    height: 35px;
    background-color: #fcf113;
    border: 0;
    font-family: "Inter";
    font-size: 14px;
    margin: 10px;
    transition: all 0.4s;
}

#join-container-btn {
    margin-left: 0px;
}

#writer-post-btn {
    position: absolute;
    top: 0px;
    right: 140px;
}

#writer-post-btn:hover {
    background-color: #262c30;
    color: white;
    cursor: pointer;
}

#writer-post-options {
    position: absolute;
    right: 150px;
    top: 45px;
    width: 130px;
    text-align: center;
}

#writer-post-options div {
    background-color: #ACADB6;
    border: 1px solid black;
    height: 30px;
    line-height: 30px;
}

#writer-open-btn:hover {
    background-color: #262c30;
    color: white;
    cursor: pointer;
}

#writer-index-btn:hover {
    background-color: #262c30;
    color: white;
    cursor: pointer;
}

#writer-new-btn:hover {
    background-color: #262c30;
    color: white;
    cursor: pointer;

}

#table-container {
    overflow: scroll;
}

#table-container::-webkit-scrollbar {
    display: none;
}


.writer-table-cards {
    border: 1px solid #ACADB6;
    margin: 2px;
    height: 80px;
    padding: 5px;
}

.writer-table-cards-title-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.writer-table-cards-title {
    font-family: AbhayaLibre;
    font-size: 20px;
}

.writer-table-cards-time {
    font-family: Inter;
    color: #ACADB6;
    font-size: 12px;
}

.icon-lajitong {
    color: white !important;
}

.writer-table-cards:hover {
    background-color: #fcf113;
    font-weight: bold;
}

.writer-table-cards:hover .icon-lajitong {
    color: #262c30 !important;
    font-size: 20px;
}

/*  */

#join-container-btn:hover {
    background-color: #262c30;
    color: white;
    cursor: pointer;
}

#Error-page-btn:hover {
    background-color: #262c30;
    color: white;
    cursor: pointer;
}

#title-text-input {
    font-size: 32px;
    font-family: "AbhayaLibre";
    color: #ACADB6;
    margin-left: 10px;
    margin-right: 10px;
    border: 0;
    outline: none;
    width: 70%;
    margin-top: 0;
    margin-bottom: 0;
}

#title-text-type {
    font-size: 32px;
    font-family: "AbhayaLibre";
    color: #ACADB6;
    border: 0;
    outline: none;
    border-left: 2px solid #ACADB6;
    width: 15%;
    padding-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

#title-text-publisher {
    font-size: 32px;
    font-family: "AbhayaLibre";
    color: #ACADB6;
    border: 0;
    outline: none;
    border-left: 2px solid #ACADB6;
    width: 15%;
    padding-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

#write-area-textarea {
    font-size: 20px;
    font-family: "AbhayaLibre";
    color: #ACADB6;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    width: 100%;
    height: 100%;
    border: 0;
    outline: none;
}


/* contact page */
#contact-container {
    width: 50%;
    margin: 0px auto 0px auto;
}

#contact-page-title {
    font-size: 90px;
    font-family: AbhayaLibre;
}

#contact-page-text {
    font-family: AbhayaLibre;
    margin-bottom: 20px;
}

/* join us page */
#join-container {
    width: 50%;
    margin: 0px auto 0px auto;
}

#join-container-title {
    font-size: 90px;
    font-family: AbhayaLibre;
}

#join-container-text {
    font-family: AbhayaLibre;
    margin-bottom: 20px;
}

.join-container-p-title {
    font-size: 30px;
    font-family: AbhayaLibre;
}

.join-container-p-text {
    margin-top: 10px;
    font-family: AbhayaLibre;
}

.join-container-p-container {
    margin: 20px 0px 20px 0px;
}

/* 404page */
#Error-container-text {
    width: 50%;
    margin: 0px auto 0px auto;
    text-align: center;
}

#Error-page-pic {
    width: 80%;
    margin: 0px 10% 0px 10%;
}

#Error-container {
    height: 100vh;
}

#Error-page-text {
    font-size: 30px;
    font-family: AbhayaLibre;
    margin-bottom: 10px;
}

/* news page */
#News-container {
    width: 80%;
    margin: 0px auto 0px auto;
}

#News-page-title {
    font-size: 90px;
    font-family: AbhayaLibre;
}

#News-page-text {
    font-family: AbhayaLibre;
    margin-bottom: 20px;
}

#News-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.News-card {
    width: 25%;
    border-top: 5px solid black;
    padding-top: 20px;
}

.News-card-title {
    font-size: 30px;
    margin: 20px 0px 20px 0px;
}

.News-card-line {
    width: 40px;
    height: 5px;
    margin: 20px 0px 20px 0px;
    background-color: black;
}

.News-card-brief,
.News-card-more {
    font-family: AbhayaLibre;
    margin: 20px 0px 20px 0px;
}

.News-card-link {
    margin: 20px 0px 20px 0px;
    color: black;
}

/* news page */

#News-page-lower {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
}

#News-page-want-more {
    background-color: #F0F4F6;
    width: 20%;
    height: 150px;
}

#News-page-want-more-title {
    font-family: AbhayaLibre;
    margin: 25px;
}

#News-page-want-more-text {
    font-family: AbhayaLibre;
    margin: 25px;
}

#News-page-news-list-container {

    width: 70%;
}

#latest-news-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.latest-news-bar-line {
    width: 35%;
    height: 1px;
    background-color: black;
}

#latest-news-bar-text {
    font-family: AbhayaLibre;
    margin: 0px 10px 0px 10px;
}

.news-card-container {
    width: 100%;
    border-bottom: 1px solid #AEB2B6;

}

.news-type {
    font-family: Inter;
    color: #AEB2B6;
    font-size: 12px;
    margin: 10px 0px 10px 0px;
}

.news-publisher {
    font-family: Inter;
    font-size: 12px;
    margin: 10px 0px 10px 0px;
}

.news-title {
    font-family: AbhayaLibre;
    font-size: 20px;
    margin: 10px 0px 10px 0px;
}

.news-title:hover {
    cursor: pointer;
}

.news-datetime {
    font-family: Inter;
    color: #AEB2B6;
    font-size: 12px;
    margin: 10px 0px 10px 0px;
}


/* waterfall page */
.waterfall-card {
    width: 600px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    margin: 30px auto 30px auto;
}

.waterfall-card-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.waterfall-card-avatar {
    height: 40px;
    width: 40px;
    border-radius: 32px;
    line-height: 50px;
}

.waterfall-card-poster-tags {
    display: flex;
    flex-direction: column;
    font-family: Inter;
    margin-left: 10px;
}

.waterfall-card-tags-time {
    width: 530px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.waterfall-card-poster {
    font-weight: bold;
}

.waterfall-card-tags {
    color: #929292;
}

.waterfall-card-time {
    color: #929292;
}

.waterfall-card-image {
    /* object-fit: cover; */
    width: 600px;
}

#backlayer-footer {
    position: relative;
}

.waterfall-card-footer {
    font-family: Inter;
    position: relative;
    padding-bottom: 10px;
}

.waterfall-card-footer-icons {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.waterfall-card-footer-icons span {
    font-size: 25px;
    margin: 8px;
    /* height: 100%; */
    line-height: 30px;
}

.waterfall-card-footer-icons span:hover {
    color: #929292;

}

.icon-xihuan {
    font-weight: 600;
}

.icon-love {
    font-weight: 600;
    color: red;
    font-size: 29px !important;
    position: relative;
    top: 1px;
    right: 2px;
}

.icon-love:hover {
    color: red !important;
}

.icon-pinglun {
    font-size: 30px !important;
    top: 2px;
    font-weight: 500;
    position: absolute;
    left: 60px;
    top: -7px;
}

.icon-sendfasong {
    font-size: 25px !important;
    position: absolute;
    left: 110px;
    top: -5px;
}

.waterfall-card-footer {
    font-size: 18px;
}

.waterfall-card-footer-likes {
    margin: 5px 10px 10px 20px;
    font-weight: bold;

}

.waterfall-card-footer-description {
    margin: 5px 10px 10px 20px;
}

.waterfall-card-footer-comments {
    margin: 5px 10px 10px 20px;
    color: #8e8e8e;
}

.waterfall-card-footer-comments:hover {
    cursor: pointer;
}

.waterfall-card-comment {
    margin: 5px 10px 10px 20px;
}

.waterfall-card-comment-username {
    font-size: 18px;
    font-weight: bold;
}

.waterfall-card-comment-content {
    font-size: 18px;
    margin-left: 5px;
}

.waterfall-card-comment-time {
    font-size: 16px;
    color: #8e8e8e;
}


.waterfall-card-comment-writer {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid #dbdbdb;
    padding: 10px;
    height: 40px;

}

#waterfall-card-comment-writer {
    position: relative;
}

.icon-weixiao {
    font-size: 30px !important;
    font-weight: 500;
    flex: 1;
}

.icon-weixiao:hover {
    color: #929292 !important;

}

.waterfall-comment-input {
    color: #929292;
    flex: 15;
    border: none;
    font-size: 18px;
    padding-left: 10px;
}

.waterfall-comment-input:focus {
    outline: none;
}

.waterfall-comment-post {
    flex: 1;
    font-size: 18px;
    color: #b3dffc;
    font-weight: bold;
}

.waterfall-comment-post:hover {
    cursor: pointer;
}

#emojyContainer {
    /* border: 1px solid black; */
    border-radius: 10px;
    padding: 10px;
    font-size: 25px;
    box-shadow: 0 5px 8px 0 rgb(0 0 0 / 10%), 0 3px 10px 0 rgb(0 0 0 / 10%) !important;
    background-color: white;
    z-index: 999;
}

#emojyContainer span:hover {
    cursor: pointer;
}

#shareContainer {
    border-radius: 10px;
    padding: 10px;
    font-size: 25px;
    box-shadow: 0 5px 8px 0 rgb(0 0 0 / 10%), 0 3px 10px 0 rgb(0 0 0 / 10%) !important;
    background-color: white;
    z-index: 999;
}

#shareContainer span:hover {
    cursor: pointer;
    color: black !important;

}

#backLayer {
    z-index: 100;
    top: -100px;
}

#backLayer-comments-container {
    height: 300px;
    overflow-y: scroll !important;
}

#backLayer-comments-container::-webkit-scrollbar {
    width: 0 !important
}

#aboutUS-container {
    margin-left: 15%;
    margin-right: 15%;
}

#aboutUS-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#aboutUS-title {
    font-size: 26px;
    font-family: AbhayaLibre;
    display: inline-block;
}

.aboutUS-members-card-line,
#aboutUS-title-line {
    width: 40px;
    height: 5px;
    background-color: black;
    margin: 10px;
}

#aboutUS-slogan {
    font-size: 70px;
    font-family: AbhayaLibre;
}

#aboutUS-data-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.aboutUS-data-card {
    text-align: center;
}

.aboutUS-data-number {
    font-size: 26px;
    font-family: "Times New Roman";
    font-size: 80px;
    line-height: 92px;
}

.aboutUS-data-title {
    font-family: Inter;
    font-size: 16px;
    line-height: 20px;
    font-weight: 100;
}

#aboutUS-data-intake {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

#aboutUS-data-intake-box {
    width: 445px;
    height: 46px;
    border: 1px solid black;
    text-align: center;
    line-height: 46px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: "Inter";
}

.aboutUS-members-card {
    display: flex;
    flex-direction: row;
    margin: 40px 0px 40px 0px;
}

.aboutUS-members-card-left {
    width: 50%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #fcf113;
    display: flex;
    flex-direction: column;
}

.aboutUS-members-card-right {
    min-width: 350px;
    width: 30%;
}

.aboutUS-members-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aboutUS-members-card-name {
    margin-top: 40px;
    font-size: 70px;
    font-family: AbhayaLibre;
}

.aboutUS-members-card-position {
    margin-bottom: 40px;
    font-size: 26px;
    font-family: AbhayaLibre;
}

.aboutUS-members-card-desciption {
    margin-bottom: 40px;
    font-size: 20px;
    font-family: AbhayaLibre;
}


.aboutUS-members-card-contact-btn {
    margin-bottom: 40px;
    font-size: 20px;
    font-family: AbhayaLibre;
}

.aboutUS-members-card-contact-btn {
    border: 1px solid black !important;
    width: 180px !important;
    height: 60px !important;
    margin: 0px 0px 40px 0px !important;
}

#aboutUS-who-are-we,
#aboutUS-our-partners {
    margin-top: 40px;
    font-size: 70px;
    font-family: AbhayaLibre;
    text-align: center;
}

.aboutUS-members-card-line {
    margin-left: 0px !important;
    margin-top: 0px !important;
}

#aboutUS-partners-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0px;

}

.partners {
    /*object-fit: cover;*/
    width: 400px;
    height: 140px;
}

#media-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10%;
    width: 80%;
}

.media-card {
    width: 400px;
    height: 400px;
}

#media-card1 {
    background-color: #395498;
}

#media-card2 {
    background-color: #fe75a6;
}

#media-card3 {
    background-color: rgb(29, 155, 240);
}

#media-card4 {
    background-color: #535fee;
}

#media-card5 {
    background-color: #44c052;
}

#media-card6 {
    background-color: #0e76a8;
}


#copyright:hover {
    cursor: pointer;
}

#login-btn:hover {
    cursor: pointer;
    background-color: #262c30;
    color: white;
}

#login-btn {
    font-family: "Inter";
    font-size: 20px;
    margin: 30px 0px 30px 0px;
    background-color: #f0f4f6;
    color: black;
    width: 150px;
    height: 50px;
    border: 1px solid white;
    transition: all 0.2s;
    font-family: AbhayaLibre;
}

#login-page {
    height: 95vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    font-family: AbhayaLibre;
}

#login-page-container {
    width: 50%;
    margin: auto auto auto auto;
    border: 5px solid #f0f4f6;
    font-family: AbhayaLibre;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-title {
    font-size: 50px;
    margin: 30px 0px 30px 30px;
}

#login-input-container {
    width: 100%;
}

input {
    height: 50px;
    font-size: 30px;
    margin: 30px 0px 30px 0px;
    font-family: AbhayaLibre;
    width: 80%;
}

#login-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-text {
    text-decoration: underline;
    font-size: 20px;
    margin-bottom: 20px;
}

#login-text:hover {
    cursor: pointer;
}

#login-btn {
    margin: 10px auto;
}

#login-text {
    margin: 20px auto;
}

/* index page media query */
@media screen and (max-width:375px) {
    /* index page */

    #page1-upper-text1,
    #page1-upper-text2,
    #page1-upper-text3 {
        font-size: 50px;
    }

    .pic-cir {
        border-radius: 100%;
        width: 80px;
        height: 80px;
    }

    #page2-img-container {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #page2-text-container {
        align-items: center;
    }

    #page3-card,
    #page5-card,
    #page7-card {
        width: 60%;
        height: 70%;
        padding: 20px 50px 20px 50px;
        margin: auto;
    }

    #page3-title,
    #page5-title,
    #page7-title {
        font-size: 30px;
    }

    #page3-text,
    #page5-text,
    #page7-text {
        font-size: 16px;
    }

    .card-line-page4 {
        display: none;
    }

    .ma-2949 {
        margin: 10px;
    }

    .btn-yellow {
        font-size: 16px;
        margin: 10px 0px 10px 0px;
        width: 150px;
        height: 50px;
    }

    .btn-white {
        font-size: 16px;
        margin: 10px 0px 10px 0px;
        width: 150px;
        height: 50px;
    }

    .card-news-title {
        font-family: "AbhayaLibre";
        font-weight: bold;
        font-size: 24px;
        height: 24px;
    }

    .fz-32 {
        font-size: 24px;
    }

    .mat-70 {
        margin-top: 20px;
    }

    .h-350 {
        height: 250px;
    }

    .h-420 {
        height: 500px;
    }

    .h-250 {
        height: 250px;
        width: 100%;
    }

    #search-input {
        font-size: 30px;
    }

    .menu-main-text {
        font-size: 30px;
    }

    /* aritcle page */
    #backToNews {
        margin: 30px 20px 30px 20px;
    }

    #articleTitle {
        font-size: 30px;
        width: 80%;
        margin: 0px auto 30px auto;
    }

    article {
        width: 80%;
    }

    /* contact page */
    #contact-container {
        width: 80%;
        margin: 0px auto 0px auto;
    }

    #contact-page-title {
        font-size: 50px;
    }

    /* join page */
    #join-container-title {
        font-size: 50px;
    }

    #join-container {
        width: 80%;
        margin: 0px auto 0px auto;
    }

    /* news */
    #News-page-title {
        font-size: 50px;
    }

    .News-card {
        min-width: 300px;
    }

    #News-cards-container {
        flex-wrap: wrap;
    }

    #News-page-news-list-container {
        min-width: 300px;
    }

    #News-page-lower {
        flex-wrap: wrap;
    }

    #News-page-want-more {
        width: 100%;
        margin-top: 20px;
    }

    /* login */
    #login-page-container {
        width: 90% !important;
        margin: 0px auto 0px auto !important;
    }

    #login-title {
        font-size: 30px !important;
    }

    #login-username,
    #login-password {
        width: 250px;
        font-size: 20px;
        margin: 10px 0px 10px 0px;
    }

    .aboutUS-members-card {
        flex-direction: column-reverse;

    }

    .aboutUS-members-card-right {
        width: 100%;
        min-width: 0px;
    }

    .aboutUS-members-card-left {
        width: 80%;
    }
}

/* @media screen and (min-width: 375px) and(max-width:820px) { */
@media screen and (min-width:376px) and (max-width:820px) {

    #page1-upper-text1,
    #page1-upper-text2,
    #page1-upper-text3 {
        font-size: 50px;
    }

    #page1-texts {
        margin-top: 20px;
    }

    #page1-upper {
        flex-wrap: nowrap;
    }

    #page1-lower {
        flex-wrap: wrap;
        margin-bottom: 30px;
    }

    .h-420 {
        width: 45%;
    }

    .palr-15p {
        padding-right: 10%;
        padding-left: 10%;
    }

    #page2-container {
        flex-direction: column;
        align-items: center;
    }

    #page2-text-container {
        align-items: center;
        width: 600px;
    }

    .patb-200 {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #page2-img-container {
        width: 600px;
    }

    .pic-cir {
        border-radius: 100%;
        width: 160px;
        height: 160px;
    }

    #page4-upper {
        flex-direction: column;
        align-items: center;
    }

    #page4-lower {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .h-250 {
        height: 250px;
        width: 100%;
    }

    #page6-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .w-380 {
        width: 100%;
    }

    .w-400 {
        width: 100%;
    }

    .mat-70 {
        margin-top: 35px;
    }

    .h-350 {
        height: 250px;
    }

    /* aritcle page */
    #backToNews {
        margin: 30px 20px 30px 20px;
    }

    #articleTitle {
        font-size: 60px;
        width: 80%;
        margin: 60px auto 30px auto;
    }

    article {
        width: 80%;
    }

    /* contact page */
    #contact-container {
        width: 80%;
        margin: 0px auto 0px auto;
    }

    #contact-page-title {
        font-size: 60px;
    }

    /* join page */
    #join-container-title {
        font-size: 60px;
    }

    #join-container {
        width: 80%;
        margin: 0px auto 0px auto;
    }

    /* news */
    #News-page-title {
        font-size: 60px;
    }

    .News-card {
        min-width: 300px;
    }

    #News-cards-container {
        flex-wrap: wrap;
    }

    #News-page-news-list-container {
        min-width: 300px;
    }

    #News-page-lower {
        flex-wrap: nowrap;
    }

    #News-page-want-more {
        width: 25%;
    }

    /* login */
    #login-page-container {
        width: 80% !important;
        margin: 0px auto 0px auto !important;
        height: 500px;
    }

    #login-title {
        font-size: 30px !important;
    }

    #login-username,
    #login-password {
        /* width: 600px;
        font-size: 20px;
        margin: 30px auto 30px auto; */
    }

    .aboutUS-members-card {
        flex-direction: column-reverse;

    }

    .aboutUS-members-card-right {
        width: 100%;
        min-width: 0px;
    }

    .aboutUS-members-card-left {
        width: 80%;
    }
}

@media screen and (min-width:821px) and (max-width:1280px) {

    #page1-upper-text1,
    #page1-upper-text2,
    #page1-upper-text3 {
        font-size: 90px;
    }

    #page2-text-container {
        width: 350px;
    }

    #page2-img-container {
        width: 500px;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 0;
    }

    .pic-cir {
        border-radius: 100%;
        width: 160px;
        height: 160px;
    }

    #page4-upper {
        flex-direction: column;
        align-items: center;
    }

    #page4-lower {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #page6-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .w-380 {
        width: 100%;
    }

    .w-400 {
        width: 100%;
    }

    .mat-70 {
        margin-top: 40px;
    }

    .h-350 {
        height: 250px;
    }

    /* aritcle page */


    #articleTitle {
        font-size: 80px;
        width: 70%;
        margin: 0px auto 30px auto;
    }

    article {
        width: 70%;
    }

    /* contact page */
    #contact-container {
        width: 70%;
        margin: 0px auto 0px auto;
    }

    #contact-page-title {
        font-size: 80px;
    }

    /* join page */
    #join-container-title {
        font-size: 80px;
    }

    #join-container {
        width: 70%;
        margin: 0px auto 0px auto;
    }
}

@media screen and (min-width:1281px)and (max-width:1800px) {

    /* index */
    .palr-15p {
        padding-right: 10%;
        padding-left: 10%;
    }

    #page2-img-container {
        width: 650px;
    }

    .pic-cir {
        border-radius: 100%;
        width: 200px;
        height: 200px;
    }

    .w-650 {
        width: 500px;
    }

    .card-line-page4 {
        display: none;
    }

    #page4-lower {
        flex-wrap: nowrap;
    }

    .mab-100 {
        flex-wrap: nowrap;
    }
}