/* nav part */
#nav {
    width: 100%;
}

#nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
}

#nav-search-menu,
#search-page-close-menu,
#menu-page-close-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#search-page-close-menu,
#menu-page-close-search {
    margin-right: 17px;
}

#logo {
    font-family: "BioRhyme";
    font-weight: bold;
    font-size: 24px;
    vertical-align: top;
    margin: 10px;
    margin-left: 20px;
    width: 110px;
}



#logo:hover {
    cursor: pointer;
}

#search-page-logo:hover {
    cursor: pointer;
}

#search,
#menu,
#search-page-guanbi-icon,
#search-page-search-menu,
#menu-page-search-icon,
#menu-page-guanbi-icon {
    margin-left: 20px;
    margin-right: 20px;
}


.icon-sousuo {
    font-size: 25px !important;

}


.icon-caidan {
    font-size: 25px !important;

}

.icon-sousuo:hover {
    color: #808080 !important;
}

.icon-caidan:hover {
    color: #808080 !important;
}

/* search page nav */
#search-page-guanbi-icon {
    /* position: absolute;
    right: 87px;
    margin-top: 15px;
    margin-right: 18px; */
    color: white;
}

#search-page-logo {
    font-family: "BioRhyme";
    font-weight: bold;
    font-size: 24px;
    vertical-align: top;
    margin: 10px;
    margin-left: 20px;
    width: 110px;
    color: white;
}

/* footer part */

#footer-container {
    padding: 80px 10% 50px 10%;
    background-color: #262c30;
}

.iconfont:hover {
    color: #fbef53;
    cursor: pointer;
}



#footer-container {
    color: white;
    font-family: "Inter";
}

#footer-container1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
    flex-wrap: wrap;
}

#hello-container {
    display: inline-block;
}

#hello {
    width: 270px;
    font-size: 60px;
}

#hello:hover {
    text-decoration: underline;
    text-decoration-color: #fbef53;
    color: #fbef53;
    cursor: pointer;
}

#social-icons {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
    text-align: left;
}

.icon-facebook-fill,
.icon-instagram-fill,
.icon-twitter,
.icon-linkedin-fill,
.icon-whatsapp {
    font-size: 30px !important;
    margin-left: 10px;
}

#footer-container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#apuItems {
    flex: 1;
    white-space: nowrap;
}

.apuItem {
    margin: 10px 0px 10px 0px;
    width: 150px;
    min-width: 150px;
}

.apuItem:hover {
    color: #fbef53;
    cursor: pointer;
}

.webItem {
    margin: 10px 0px 10px 0px;
    width: 150px;
    min-width: 150px;
}

.webItem:hover {
    color: #fbef53;
    cursor: pointer;
}

#webItems {
    /* margin: 70px 50px 50px 50px; */
    flex: 1;
}

#join {
    /* width: 400px; */

    /* margin: 70px 0px 50px 50px; */
    flex: 2;

}

#join-btn:hover {
    background-color: #ffffff;
    color: black;
    cursor: pointer;
}

#join-btn {
    font-family: "Inter";
    font-size: 20px;
    margin: 30px 0px 30px 0px;
    background-color: #262c30;
    color: white;
    width: 150px;
    height: 50px;
    border: 1px solid white;
    transition: all 0.2s;
}

#join-text {
    margin: 10px 0px 10px 0px;
    min-width: 200px;
}


#footer-line {
    width: 100%;
    height: 3px;
    background-color: #535e64;
    min-width: 150px;
}

#footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    align-items: center;
}

#copyright {
    min-width: 60px;
    margin: 10px 0px 10px 0px;
}

#policy {
    min-width: 220px;
    margin: 10px 0px 10px 0px;
}

#policy:hover {
    text-decoration: underline;
    text-decoration-color: #fbef53;
    color: #fbef53;
    cursor: pointer;
}

#apu-logo {
    margin: 10px 0px 10px 0px;
}

#apu-logo:hover {
    cursor: pointer;
}

#apu-log-a,
#apu-log-p,
#apu-log-u {
    margin-left: 10px;
    font-family: "Inter";
    font-size: 48px;
    font-weight: bold;
    display: inline-block;
}

#apu-log-space1,
#apu-log-space2 {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #ED1B24;
    margin: 10px 25px;
}

#apu-log-line {
    width: 290px;
    height: 2px;
    background-color: #ED1B24;
    margin-bottom: 10px;
}

#apu-log-text1 {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
    white-space: nowrap;
}

#apu-log-text2 {
    font-size: 15px;
    letter-spacing: 2px;
    white-space: nowrap;
}

#dot {
    border-radius: 5px;
}

/* back to news */

#backToNews {
    font-family: "Inter";
    font-size: 18px;
    margin: 100px 0px 70px 130px;
}

#newsText {
    border-bottom: 2px solid black;
}

#articleTitle {
    font-family: "SentinelSSmPro";
    font-size: 90px;
    width: 70%;
    margin: 0px 0px 70px 130px;
}

/* article part */
article {
    width: 50%;
    font-family: "AbhayaLibre";
    margin: 0px auto 70px auto;
    font-size: 22px;
}

time {
    color: #a2aeb6;
    font-size: 16px;
    font-family: "Inter";
    display: inline-block;
    margin-top: 70px;
}

main {
    line-height: 25px;
    text-indent: 2em;
    margin-bottom: 20px;
}

/* side social icon */
#social-icons-side {
    display: inline-block;
    background-color: white;
    width: 50px;
    border: 1px solid #f0f4f6;
    display: flex;
    flex-direction: column;
    padding: 0px 10px 0px 10px;
    position: fixed;
    top: 30%;
    right: 0px;
    z-index: 999;
}

.icon-side {
    margin: 10px 0px 10px 0px;
    text-align: center;
}

.icon-side:hover {
    color: rgb(162, 174, 182) !important;
}




.icon-guanbi:hover {
    color: #808080 !important;
}




#input-cotainer {
    text-align: center;
    vertical-align: middel;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#search-input {
    width: 100%;
    margin-bottom: 20px;
    display: inline-block;
}

#search-input {
    font-size: 70px;
    font-family: "SentinelSSmPro";
    background-color: #262c30;
    font-weight: bold;
    color: #fbef53;
    padding: 5px 0px 5px 0px;
    border: 0;
    outline: none;
}

#search-input::selection {
    background: #fcf113;
    color: white;
}

#input-cotainer {
    width: 60%;
    margin: 100px auto 100px auto;
    border-bottom: 3px solid #fbef53;
}

#search-page-search-icon {
    color: white;
    display: inline-block;
    font-size: 50px !important;
    top: 30px !important;
    right: 0 !important;
}


/* pop menu part */

#menu-container {
    text-align: center;
    position: relative;
    top: 80px;
}

.menu-main-text {
    font-size: 50px;
    font-family: "Inter";
    color: #fcf113;
    margin: 10px 0px 10px 0px;
}

.menu-main-text:hover {
    font-style: italic;
    cursor: pointer;
}

.menu-line {
    width: 90%;
    height: 2px;
    margin: 0px auto 0px auto;
    background-color: #fbef53;
}

#menu-line1 {
    margin-bottom: 65px;
}

#menu-line2 {
    margin-top: 65px;
}

#menu-explore {
    margin-top: 65px;
    margin-bottom: 65px;
    color: white;
}

#menu-footer {
    display: flex;
    width: 350px;
    margin: 50px auto 50px auto;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.menu-footer-items:hover {
    text-decoration: underline;
    cursor: pointer;
}

#newsText {
    cursor: pointer;
}

#back-to-news-icon:hover {
    color: black !important;
}


#backLayer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#backLayer-main-image {
    height: 95%;

}

#backLayer-left-container {
    background-color: white;
    width: 20%;
}

#backLayer-left-container {
    height: 95%;
}

#backlayer-card-time {
    margin-right: 10px;
}

#backLayer-left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#backlayer-poster-time {
    color: #929292;
    margin: 5px 10px 10px 20px;
}

#backLayer-card-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#backLayer-Avatar-name-tags {
    margin: 10px;
    display: flex;
    flex-direction: row;

}

#backLayer-icon-guanbi {
    font-size: 30px;
    margin: 10px;
    position: relative;
    top: 10px;
}

.backLayer-comment {
    margin: 20px 10px 20px 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

}

.backLayer-comments-container {
    width: 100%;

}

.backLayer-comment-avatar {
    width: 45px;
    height: 40px;
    background-color: aqua;
    border-radius: 20px;
    font-size: 40xp;
    line-height: 40px;
    text-align: center;
}

.backLayer-comment-name-time-content {
    width: 100%;
    margin-left: 10px;
}

.backLayer-comment-username {
    font-size: 18px;
    font-weight: bold;
}

.backLayer-comment-content {
    font-size: 18px;
    margin-left: 5px;
    /* width: 100px;
    max-width: 50%; */
    display: inline-block;
    /* white-space: normal; */
    word-break: break-all;
}

.backLayer-comment-time {
    font-size: 16px;
    color: #8e8e8e;
}